
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.colorFondo{
    background-color:#0779ff;
}
.colorBoton{
    background-color:#0779ff;
}
.disp{
    font-size:24px;
}