
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.colorFondo{
    background-color:#31373F;
}

.disp{
    font-size:24px;
}
.logo{
    width:90px;
}
header nav{
    height:96px;
}
